{% extends "base.html" %}

{% block title %}Register for the Dog App{% endblock %}

{% block main %}

<h1>Please register to the Dog App</h1>

<form action="{{ url_for('register') }}" method="POST">
    {{ form.csrf_token }}
    {{ form.first_name.label }}
    {{ form.first_name }}<br>
    {{ form.last_name.label }}
    {{ form.last_name }}<br>
    {{ form.email.label }}
    {{ form.email }}<br>
    {{ form.password.label }}
    {{ form.password }}<br>
    {{ form.confirm_password.label }}
    {{ form.confirm_password }}<br>
    {{ form.is_trainer.label }}
    {{ form.is_trainer }}<br>
    {{ form.submit }}
</form>



{% endblock %}