<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <nav>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}">Logout</a>
            <h3>Welcome to the Dog Website {{ current_user.first_name }} {{ current_user.last_name }}</h3>
        {% else %}
        <h3>You aren't logged in. Would you like to register <a href="{{ url_for('register') }}">here?</a>

        </h3>
        {% endif %}
    </nav>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>

    </footer>
</body>
</html>